.body {
    align-content: center;
    
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: red;
}
.grid-container {
    width: 500px;
    display: grid;
    grid-template-columns: 100px, 100px;
    grid-template-rows: 100px, 200px, 100px;
    border: 1px, solid, red;
    gap: 10px;
    justify-content: 10px;
}
#A {
    grid-area: 1 / 1 / span 1/ span 2;
}

#B {
    grid-area: 2 / 1 / span 1/ span 1;
}
#C {
    grid-area: 2 / 2 / span 1/ span 1;
}
#D {
    grid-area: 3 / 1 / span 1/ span 2;
}
